* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    align-items:center;
    display:flex;
    flex-direction:column;
    font-family:'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
}

/* Body light or darker themes*/

.standard{
    background-image: linear-gradient(100deg, #575656,#062e3f);
    color: #ffdfdb;
    transition: 0.3s linear;
    overflow: hidden;
}
.light{
    background-image: linear-gradient(100deg,#d4f1ff,#ffffff);
    color:#1a150e;
    transition: 0.3s linear;
}

.darker{
    background-image: linear-gradient(100deg,#001214,#001f29);
    color:white;
    transition: 0.3s linear;
}

#header, #form, #datetime {
  margin: 0 1rem;
  min-height: 10vh;
  width: 100%
}

#header{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}

/*Theme buttons div*/
.flexrow-container{
    align-items: center;
    align-self:flex-end;
    display:flex;
    justify-content:space-around;
    margin-right: 3%;

}

.theme-selector{
    border: 1px solid #d1dae3;
    border-radius: 100%;
    height: 35px;
    margin: 0 8px;
    transition: transform 150ms ease-in-out, box-shadow 200 ms ease-in-out;
    width:35px;
}

.theme-selector:hover{
    box-shadow: white 0 0 8px;
    cursor: pointer;
}

.theme-selector:active{
    transform: scale(0.95);
}

.standard-theme{
 background-image: linear-gradient(100deg ,#575656,#062e3f);

}

.light-theme{
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
}

.darker-theme{
    background-image:linear-gradient(100deg,#001214,#001f29);
}

/*Animation*/
#title{
    border-right: solid 3px rgba(0,0,0,0.75);
    white-space: pre;
    overflow: hidden;
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 480px;
}
/*Animation*/
#title{
    animation: animated-text 2s steps(11,end) 0.5s 1 normal both,
    animated-cursor 750ms steps(11,end) infinite;
}

#title.darker-title{
    animation: animated-text 2s steps(11,end) 0.5s 1 normal both, darker-animated-cursor 750ms steps(11,end) infinite;
}

/*text animation*/
@keyframes animated-text{
    from{width: 0%;}
    to{width: 480px;}
}
/*cursor animations*/
@keyframes animated-cursor{
    from{border-right-color: rgba(0,0,0,0.75);}
    to{border-right-color:transparent;}
}

@keyframes darker-animated-cursor{
    from{border-right-color: rgba(o,o,o,0.75);}
    to{border-right-color: transparent;}
}
form{
    display:flex;
    font-size: 1.7rem;
    justify-content:center;
    margin: 15px 0;
    padding: 0.8rem;
    width:100%
}

form input{
    padding: 10px;
    font-size 17px;
    border: none;
    outline: none;
    /*border-radius: 15;*/
    border-top-left-radius: 17px;
    border-bottom-left-radius:17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}

/*input themes*/

form input.standard-input{
    background-color: #181a1a;
    color: rgb(247,226,223);
}

form input.light-input{
    background-color: #AEB1B4;
    color:#1a150e;
}

form.input.light-input::placeholder{
    color:#1a150e;
    opacity: 0.7;
}

form input.darker-input::placeholder{
    color:white;
    opacity:0.7;
}

form input:hover{
cursor: text;
}

form input.standard-input:hover{
    background-color: #919699;
}

form input.darker-input:hover{
    background-color:#013141;
}